<div class="jumbotron text-center">
  <h1>Add Stock Ticker</h1>
  <p>{{ message }}</p>
</div>

<div class="container" id="tickerSearchBar">
  <input ng-model="tickerFinder" ng-change="searchTicker()" class="search" id="tickerSymbol" placeholder="search ticker">
  <div ng-model="selected" ng-show="tickerData.length > 0" ng-repeat="ticker in tickerData" id="tickerSelect"  ng-click="tickerDisplay(ticker)">
    <div ng-model="tickerItem" class="tickerItem" id="{{ticker.Symbol}}" >
      Symbol: {{ticker.Symbol}} Name: {{ticker.Name}} Exchange: {{ticker.Exchange}}
    </div>
  </div>
</div>
<!--<button class="add" id="tickerAdd" ng-click="addTickerToTracked()">add</button>-->
