<!--<div class="jumbotron text-center">-->
  <!--<h1>Tracked Stocks</h1>-->
  <!--<p>{{ message }}</p>-->
<!--</div>-->

<!--<div class="container">-->
<!--<button ng-click="getTracked()"></button>-->
<!--<div ng-model="trackedTickerDisplay" ng-repeat="ticker in arrayOfTrackedTickers">fdjkhaslfkjhe{{arrayOfTrackedTickers}}</div>-->

<!--</div>-->

<div class="jumbotron text-center">
  <h1>Tracked Stocks</h1>
  <p>{{ message }}</p>
</div>
<!--​​<div class="col-lg-6">-->
  <div ng-model="trackedTickerDisplay" ng-init="getTracked()" class="trackedTicketCol col-lg-6 col-lg-offset-3">
    <div ng-repeat="ticker in arrayOfTrackedTickers" class="displayedTicker">
      <i class="fa fa-minus-circle" ng-click="removeTicker(ticker)"></i>
      <div class="tickerInfo">
        <h1>{{ticker.Symbol}}     {{ticker.Exchange}}</h1>
        <div id="name">{{ticker.Name}}</div>
      </div>
    </div>
  </div>
<!--</div>-->